In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import tabula
from tabula import read_pdf
import numpy as np
import pandas as pd
df = read_pdf('1085145.pdf', guess=False, stream=True, pages='all', multiple_tables=True,  pandas_options={'header':None})

In [8]:
pd.set_option('display.max_colwidth', -1)  #Veo hasta la última palabra
i = 0
for dfs in df:
    print(i)
    i += 1
    dfs.head()

0

                                                        0          1         2
1  12/29/2017 RMW Review and sign Notice of Association    0.10       65.00
2  NaN                                                     650.00/hr  NaN
3  12/30/2017 RMW Receive and review Repair Order summary  0.20       130.00
4  NaN                                                     650.00/hr  NaN
5  RMW Receive and analyze client file                     2.30       1,495.00

1

,0,1,2
1,3/9/2018 RMW Prepare for deposition of McDowell; Take deposition of McDowell,2.50,"1,437.50"
2,NaN,575.00/hr,NaN
3,"3/19/2018 RE Draft, review and revise Notice of Deposition of FCA's expert Jan",0.30,60.00
4,"Swart or Jeremiah Stepan; Draft, review and revise Notice of",200.00/hr,NaN
5,"Deposition of FCA Expert Richard Schmidt, or Stan Gozzi, or Jeff",NaN,NaN

2

,0,1,2,3
1,6/20/2018 RE,Receive and review email from opposing counsel regarding court,0.10,20.00
2,NaN,"reporter for Person most knowledgeable deposition; Draft, review and",200.00/hr,NaN
3,NaN,revise email to opposing counsel regarding same,NaN,NaN
4,RE,Prepare updated draft of TRC Report,0.20,40.00
5,NaN,NaN,200.00/hr,NaN

3

,0,1,2,3
1,7/11/2018 LBV,Prepare for deposition of Blasjo; Attend deposition of Blasjo,4.10,"1,435.00"
2,NaN,NaN,350.00/hr,NaN
3,7/13/2018 SLA,"Draft, review and revise damages model",0.40,70.00
4,NaN,NaN,175.00/hr,NaN
5,RE,"Draft, review and revise email to opposing counsel regarding change in",0.10,NO CHARGE

4

,0,1,2,3
1,7/19/2018 RE,"Draft, review and revise Plaintiff's Motions in Limine No. 2",0.20,40.00
2,NaN,NaN,200.00/hr,NaN
3,RE,"Draft, review and revise Plaintiff's Motions in Limine No. 3",0.20,40.00
4,NaN,NaN,200 00/hr,NaN
5,RE,"Draft, review and revise Plaintiff's Motions in Limine No. 4",0.20,40.00

5

,0,1,2,3
1,7/19/2018 JRU,Review and revise Plaintiff's Motion in Limine No. 7,0.50,200.00
2,NaN,NaN,400.00/hr,NaN
3,JRU,Review and revise Plaintiff's Motion in Limine No. 8,0.50,200.00
4,NaN,NaN,400.00/hr,NaN
5,JRU,Review and revise Plaintiff's Motion in Limine No. 9,0.50,200.00

6

,0,1,2,3
1,7/24/2018 RE,Prepare draft of Joint Witness List,0.10,20.00
2,NaN,NaN,200.00/hr,NaN
3,RE,"Draft, review and revise email to opposing counsel regarding",0.10,20.00
4,NaN,Defendant's additions to the joint trial documents,200.00/hr,NaN
5,ARS,Review and revise Joint Statement of the Case,0.10,45.00

7

,0,1,2,3
1,7/25/2018 RE,"Prepare, finalize, and serve Plaintiffs Opposition to FCA's Motions in",0.50,100.00
2,NaN,"Limine 1-12; Draft, review and revise proof(s) of service; Draft, review",200.00/hr,NaN
3,NaN,and revise email to Nationwide regarding service,NaN,NaN
4,RE,Prepare drafts of Plaintiffs Opposition to FCA's Motions in Limine 1-12,0.80,160.00
5,NaN,NaN,200.00/hr,NaN

8

,0,1,2,3
1,7/26/2018 RE,Receive and review email from opposing counsel regarding,0.10,20.00
2,NaN,Defendant's additions to the joint trial documents,200.00/hr,NaN
3,RE,Receive and review email from opposing counsel regarding,0.10,20.00
4,NaN,Defendant's revisions to the joint trial documents,200.00/hr,NaN
5,JRU,Telephone call with David Corneil regarding stipulation to continue trial,0.20,80.00

9

,0,1,2,3
1,"10/3/2018 JRU Draft, review and revise Plaintiffs Opposition to FCA's Motion in Li mine",NaN,0.70,280.00
2,No. Amended 12,NaN,400.00/hr,NaN
3,"JRU Draft, review and revise Plaintiffs Opposition to FCA's Motion in Limine",NaN,0.70,280.00
4,No. 14,NaN,400.00/hr,NaN
5,"JRU Draft, review and revise Plaintiffs Opposition to FCA's Motion in Limine",NaN,0.70,280.00

In [7]:
df = [x.drop(x.head(1).index, axis=0) for x in df]

In [32]:
aux1 = pd.concat([df[0], df[1]])

In [11]:
import re as regex
def separador(string):
    
    date = regex.findall(r'^\d{1,2}/\d{1,2}/\d{4}', string)
    
    tag = regex.findall(r'\b[A-Z]{2,3}', string)
    
    if date:
            date = date.pop(0)
            string = string.replace(date, '')
    else:
        date = np.NaN
    if tag:
            tag = tag.pop(0)
            string = string.replace(tag, '')
    else:
        tag = np.NaN
    
    string = string.lstrip()
    return date, tag, string

In [36]:
aux2 = aux1[0].dropna()
aux2 = aux2.apply(lambda x: separador(x))
aux2 = aux2.apply(pd.Series)
aux2.columns = ['Date', 'Name', 'Description']
Date = aux2['Date'].dropna().reset_index(drop=True)
Name = aux2['Name'].dropna().reset_index(drop=True)
Descripcion = aux2['Description'].dropna().reset_index(drop=True)

In [37]:
for date in Date:
    print(date)

12/29/2017
12/30/2017
1/5/2018
2/12/2018
2/28/2018
3/2/2018
3/7/2018
3/9/2018
3/19/2018
3/23/2018
3/26/2018
3/27/2018
6/20/2018

In [38]:
for name in Name:
    print(name)

RMW
RMW
RMW
LBV
RE
RE
ARS
RE
RE
RMW
RE
FCA
RE
LBV
RE
RE
RE
RE
RE
ARS
JRU
LBV
RE
TRC

In [41]:
rows_per_row = [
    1,1,1,2,3,3,3,1,3,1,5,3,2,3,2,2,3,3,1,1,2,2]
x = 0
for row, count in enumerate(rows_per_row):
    print(*Descripcion[x:count+x])
    x += count

Review and sign Notice of Association
Receive and review Repair Order summary
Receive and analyze client file
Prepare for depositions of dealership today; Travel to and from and attend non appearance depositions for ten dealership personnel
Draft, review and revise Plaintiffs Objections to Notice of Deposition of Plaintiff; Draft, review and revise proof(s) of service; Draft, review and revise email to Nationwide regarding service; Serve same
Receive and review email from opposing counsel regarding scheduling plaintiff's deposition and the Vehicle Inspection; Draft, review and revise email to opposing counsel regarding same
Emails with opposing counsel Corneil regarding plaintiff and Person most knowledgeable depositions, trial schedule, request for continuance (4 emails)
Prepare documents for Person most knowledgeable deposition
Draft, review and revise Plaintiffs Objections to Notice of Deposition of Plaintiff; Draft, review and revise proof(s) of service; Draft, review and revise email to Nationwide regarding service; Serve same
Prepare for deposition of McDowell; Take deposition of McDowell
Draft, review and revise Notice of Deposition of FCA's expert Jan Swart or Jeremiah Stepan; Draft, review and revise Notice of Deposition of  Expert Richard Schmidt, or Stan Gozzi, or Jeff Richards; Draft, review and revise proof(s) of service; Draft, review and revise email to Nationwide regarding service; Serve same
Draft, review and revise email to opposing counsel regarding confirmation of expert deposition; Receive and review email from opposing counsel regarding same
Draft, review and revise opposition to ex parte to continue trial; Prepare for hearings on both ex partes
Receive and review email from opposing counsel regarding Defendant's Objections to Expert Depositions; Draft, review and revise email to opposing counsel regarding same
Draft, review and revise email to opposing counsel regarding Defendant's additions to the Joint Trial Readiness Conference Report
Prepare draft of Joint Trial Readiness Conference Report; Review file and pull exhibits for trial
Receive and review email regarding Ex Parte Notice to Continue Trial; Draft, review and revise email to opposing counsel regarding intent to oppose
Draft, review and revise Plaintiffs Objections to Notice of Deposition of Barbara Luna; Draft, review and revise proof(s) of service; Draft, review and revise email to Nationwide regarding service
Review and revise Joint Trial Readiness Conference Report
Revise and review Opposition to Defendant's ex parte to continue trial
Travel to and from and attend ex partes to continue trial and to specially set Motion to Compel hearings
Draft, review and revise email to opposing counsel regarding Defendant's additions to the  Report

In [55]:
Hours_Rate = aux1.loc[:, 1].dropna().reset_index(drop=True)
Total = aux1.loc[:, 2].dropna().reset_index(drop=True)

In [56]:
rates = Hours_Rate.drop(range(0, len(Hours_Rate), 2),axis=0)
hours = Hours_Rate.drop(range(1, len(Hours_Rate), 2),axis=0)

In [57]:
rates = rates.str.replace('/hr', '')
rates = rates.str.replace(' ', '.')

rates = rates.apply(float)

for rate in rates:
    print(rate)

650.0
650.0
650.0
350.0
200.0
200.0
450.0
200.0
200.0
575.0
200.0
200.0
350.0
200.0
200.0
200.0
200.0
200.0
450.0
400.0
350.0
200.0

In [58]:
hours = hours.apply(float)
for hour in hours:
    print(hour)

0.1
0.2
2.3
3.5
0.2
0.1
0.2
0.2
0.2
2.5
0.3
0.1
4.1
0.1
0.1
1.5
0.1
0.2
0.3
0.6
2.8
0.1

In [59]:
Total = Total.str.replace('NO CHARGE', 'nan')
Total = Total.str.replace(',', '')
Total = Total.apply(float)
for total in Total:
    print(total)

65.0
130.0
1495.0
1225.0
40.0
nan
90.0
40.0
40.0
1437.5
60.0
nan
1435.0
20.0
20.0
300.0
20.0
40.0
135.0
240.0
980.0
20.0

In [111]:
# aux10 = pd.concat(df[2:9])
aux10 = df[8]

In [112]:
aux10

,0,1,2,3
1,7/26/2018 RE,Receive and review email from opposing counsel regarding,0.10,20.00
2,NaN,Defendant's additions to the joint trial documents,200.00/hr,NaN
3,RE,Receive and review email from opposing counsel regarding,0.10,20.00
4,NaN,Defendant's revisions to the joint trial documents,200.00/hr,NaN
5,JRU,Telephone call with David Corneil regarding stipulation to continue trial,0.20,80.00
6,NaN,NaN,400.00/hr,NaN
7,JRU,Communication with client,0.30,120.00
8,NaN,NaN,400.00/hr,NaN
9,7/27/2018 JRU,Travel to and from and attend Trial Call,2.00,800.00
10,NaN,NaN,400.00/hr,NaN
11,8/20/2018 AM,Calendaring deadlines,0.20,NO CHARGE
12,NaN,NaN,175.00/hr,NaN
13,9/12/2018 JRU,Travel to and from and attend deposition of Defendants' Expert,4.00,"1,600.00"
14,NaN,Richard Schmidt,400 00/hr,NaN
15,9/19/2018 AM,Draft and revise repair order history table,0.30,60.00
16,NaN,NaN,200.00/hr,NaN
17,9/20/2018 AM,Draft review and revise Page line summary of Person most,2.90,580.00
18,NaN,knowledgeable deposition,200.00/hr,NaN
19,9/26/2018 RE,Review and revise Joint Witness List,0.10,20.00
20,NaN,NaN,200.00/hr,NaN
21,RE,"Draft, review and revise email to opposing counsel regarding updated",0.10,20.00
22,NaN,joint exhibit and witness lists,200.00/hr,NaN
23,ARS,Review and revise Joint Exhibit List,0.20,90.00
24,NaN,NaN,450 00/hr,NaN
25,RE,Review and revise Joint Exhibit List; Review file and pull exhibits for trial,0.70,140.00
26,NaN,NaN,200.00/hr,NaN
27,ARS,Review and revise Joint Witness List,0.10,45.00
28,NaN,NaN,450.00/hr,NaN
29,9/27/2018 RE,Receive and review email from opposing counsel regarding Micale on,0.10,20.00
30,NaN,"the trial documents; Draft, review and revise email to opposing counsel",200.00/hr,NaN
31,NaN,regarding same,NaN,NaN
32,10/3/2018 AM,Review and update Repair Order history table and timeline,0.70,140.00
33,NaN,NaN,200.00/hr,NaN

In [113]:
Date2 = aux10[0].str.findall(r'\d{1,2}/\d{1,2}/\d{4}')
Date2 = Date2.dropna()
Date2 = Date2.apply(lambda x: x.pop(0) if x else np.NaN)
Date2 = Date2.dropna()
for date in Date2:
    print(date)

7/26/2018
7/27/2018
8/20/2018
9/12/2018
9/19/2018
9/20/2018
9/26/2018
9/27/2018
10/3/2018

In [114]:
Name2 = aux10[0].str.findall(r'[A-Z]{2,3}')
Name2 = Name2.dropna()
Name2 = Name2.apply(lambda x: x.pop(0) if x else np.NaN)
Name2 = Name2.dropna()
for name in Name2:
    print(name)

RE
RE
JRU
JRU
JRU
AM
JRU
AM
AM
RE
RE
ARS
RE
ARS
RE
AM

In [115]:
Hours_Rate = aux10.loc[:, 2].dropna().reset_index(drop=True)
Total = aux10.loc[:, 3].dropna().reset_index(drop=True)

In [116]:
rates = Hours_Rate.drop(range(0, len(Hours_Rate), 2),axis=0)
hours = Hours_Rate.drop(range(1, len(Hours_Rate), 2),axis=0)

In [117]:
rates = rates.str.replace('/hr', '')
rates = rates.str.replace(' ', '.')

rates = rates.apply(float)

for rate in rates:
    print(rate)

200.0
200.0
400.0
400.0
400.0
175.0
400.0
200.0
200.0
200.0
200.0
450.0
200.0
450.0
200.0
200.0

In [118]:
hours = hours.apply(float)
for hour in hours:
    print(hour)

0.1
0.1
0.2
0.3
2.0
0.2
4.0
0.3
2.9
0.1
0.1
0.2
0.7
0.1
0.1
0.7

In [119]:
Total = Total.str.replace('NO CHARGE', 'nan')
Total = Total.str.replace(',', '')
Total = Total.str.replace(' ', '.')
Total = Total.apply(float)
for total in Total:
    print(total)

20.0
20.0
80.0
120.0
800.0
nan
1600.0
60.0
580.0
20.0
20.0
90.0
140.0
45.0
20.0
140.0

In [120]:
Descripcion2 = aux10[1].dropna()
rows_per_row = [
    2,2,1,1,1,1,2,1,2,1,2,1,1,1,3,1
]
x = 0
for row, count in enumerate(rows_per_row):
    print(*Descripcion2[x:count+x])
    x += count

Receive and review email from opposing counsel regarding Defendant's additions to the joint trial documents
Receive and review email from opposing counsel regarding Defendant's revisions to the joint trial documents
Telephone call with David Corneil regarding stipulation to continue trial
Communication with client
Travel to and from and attend Trial Call
Calendaring deadlines
Travel to and from and attend deposition of Defendants' Expert Richard Schmidt
Draft and revise repair order history table
Draft review and revise Page line summary of Person most knowledgeable deposition
Review and revise Joint Witness List
Draft, review and revise email to opposing counsel regarding updated joint exhibit and witness lists
Review and revise Joint Exhibit List
Review and revise Joint Exhibit List; Review file and pull exhibits for trial
Review and revise Joint Witness List
Receive and review email from opposing counsel regarding Micale on the trial documents; Draft, review and revise email to opposing counsel regarding same
Review and update Repair Order history table and timeline

In [90]:
def Date_Name_Descripcion(series, rows_per_row):
    aux2 = series.dropna()
    aux2 = aux2.apply(lambda x: separador(x))
    aux2 = aux2.apply(pd.Series)
    aux2.columns = ['Date', 'Name', 'Description']
    Date = aux2['Date'].dropna().reset_index(drop=True)
    Name = aux2['Name'].dropna().reset_index(drop=True)
    Descripcion = aux2['Description'].dropna().reset_index(drop=True)
    
    for date in Date:
        print(date)
    input()
    for name in Name:
        print(name)
    input()
    x = 0
    for row, count in enumerate(rows_per_row):
        print(*Descripcion[x:count+x])
        x += count

In [97]:
def Hours_and_Rates(Hours_Rate):
    Hours_Rate = Hours_Rate.dropna().reset_index(drop=True)
    rates = Hours_Rate.drop(range(0, len(Hours_Rate), 2),axis=0)
    hours = Hours_Rate.drop(range(1, len(Hours_Rate), 2),axis=0)
    
    rates = rates.str.replace('/hr', '')
    rates = rates.str.replace(' ', '.')
    rates = rates.apply(float)
    
    hours = hours.apply(float)
    print('Hours:\n')
    for hour in hours:
        print(hour)
    input()
    print('\nRates:\n')
    for rate in rates:
        print(rate)

In [99]:
def Totals(Total):
    Total = Total.dropna().reset_index(drop=True)

    Total = Total.str.replace('NO CHARGE', 'nan')
    Total = Total.str.replace(',', '')
    Total = Total.str.replace(' ', '.')
    Total = Total.apply(float)
    for total in Total:
        print(total)

In [91]:
aux9 = df[9].drop(np.arange(21, len(df[9].index)+1, 1), axis=0)
aux9 = aux9.drop(1, axis=1)
aux30 = aux9[0]
Hours_Rate = aux9.loc[:, 2]
Total = aux9.loc[:, 3]

In [92]:
rows_per_row = [
    2,2,2,2,1,1,2,2,2,1
]
Date_Name_Descripcion(aux30, rows_per_row)

10/3/2018
10/5/2018
2/26/2019
3/25/2019

JRU
JRU
JRU
JRU
RMW
ARS
EKB
EKB
EKB
EKB

Draft, review and revise Plaintiffs Opposition to FCA's Motion in Li mine No. Amended 12
Draft, review and revise Plaintiffs Opposition to FCA's Motion in Limine No. 14
Draft, review and revise Plaintiffs Opposition to FCA's Motion in Limine No. 15
Draft, review and revise Plaintiffs Opposition to FCA's Motion in Limine No. 13
Travel to and from and attend trial call
Client communication
Review and audit fees and costs invoices for memorandum of costs and Motion for Attorney's Fees
Travel to and from and attend hearing on Motion for Attorney's Fees (anticipated)
Draft, review and revise reply in support of Motion for Attorney's Fees (anticipated)
Draft, review and revise Motion for Attorney's Fees

In [98]:
Hours_and_Rates(Hours_Rate)

Hours:

0.7
0.7
0.7
0.7
1.0
0.2
1.0
3.0
5.0
7.0


Rates:

400.0
400.0
400.0
400.0
575.0
450.0
450.0
450.0
450.0
450.0

In [100]:
Totals(Total)

280.0
280.0
280.0
280.0
575.0
90.0
450.0
1350.0
2250.0
3150.0